EXPO_PUBLIC_API_BASE_URL=http://localhost:3000
EXPO_PUBLIC_TEAM_ID=KC
EXPO_PUBLIC_USE_FIXTURES=false
EXPO_PUBLIC_EAS_PROJECT_ID=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_URL_SCHEME=
